<html>
    <head>
        <title>Melu's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Welcome to Melu's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi there! This is my first post on my Django website. I can code!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>It's me again. </p>
        </div>
    </body>
</html>
